<div class="footer">
    <a style="text-decoration: none; margin-right: 0.5rem; margin-left: 0.5rem;" href="">privacy policy</a>
    <a style="text-decoration: none; margin-right: 0.5rem; margin-left: 0.5rem;" href="">Contact us</a>
    <a style="text-decoration: none; margin-right: 0.5rem; margin-left: 0.5rem;" href="">Complains</a>
</div>
</body>
</html>
