<%- include("header") %>
  </div>
  <div class="middle">
  <h2>Services we provide</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://labblog.uofmhealth.org/sites/lab/files/2018-06/michigan-med-l-doc-wardrobe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://labblog.uofmhealth.org/sites/lab/files/2018-06/michigan-med-l-doc-wardrobe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://labblog.uofmhealth.org/sites/lab/files/2018-06/michigan-med-l-doc-wardrobe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://labblog.uofmhealth.org/sites/lab/files/2018-06/michigan-med-l-doc-wardrobe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <%- include("footer") %>